* {
  margin: 0;
  padding: 0;
  font-family: "Alegrey";
  color: black;
}

a {
  text-decoration: none;
}
div[data-background] {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  overflow: hidden;
}

i {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

i:hover {
  transition: 0;
  color: #0f0;
  text-shadow: 0 0 120px #0f0;
}

section .row {
  top: (-50%);
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 68px;
  transform: rotate(-30deg);
}

header,
form {
  display: grid;
  place-items: center;
  gap: 1rem;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  gap: 1rem;
  flex-flow: wrap;
}

.item {
  white-space: nowrap;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgb(255, 252, 252);
  display: inline-block;
  color: black;
  font-weight: bold;
  margin: 0px;
}

#reset-button {
  color: black;
  white-space: nowrap;
  padding: 0.8rem;

  background: rgba(243, 243, 243, 0.761);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(255, 255, 255, 1);
  width: auto;
  height: 50px;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
  transition: all 220ms linear;
  position: relative;
  overflow: hidden;
}

textarea[name="user-input"] {
  padding: 10px;
  border-radius: 10px;

  box-shadow: 50px 25px;
  text-align: auto;

  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  width: 70%;
  height: 300px;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
}

/*animaciones y efectos*/

#reset-button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: aliceblue;
  box-shadow: 0px 0px 9px 3px rgb(255, 255, 255);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 200ms 50ms ease-out;
}

#reset-button:hover::after {
  transform: translateX(calc(0% + 160px));
}

#reset-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.109);
}
